body {
    background-color: white;
    font-family: sans-serif;
}

.section-1 {
    background-color: #F2C6C2;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header {
    display: flex;
    max-width: 800px;
    justify-content: space-between;
    align-items: center;
    /* margin: 0px 18%; */

}

.attention-hook {
    /* margin: 50px 18% 0px 18%; */
    display: flex;
    max-width: 800px;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
}

.text-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1, p{
    padding: 0px;
    margin: 0px;
}

button {
    background-color: #F28585;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 8px;
    font-weight: bold;
}

.sign-up-one {
    max-width: 100px;
}


.sign-up-two {
    width: 100px;
    /* border: 1px solid white; */
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.best-paintings-header {
    color: #424242;
}

.additional-info {
   display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   margin-bottom: 80px;
   gap: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 90px;
}

.image-text {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.quote {
    color: #1F2937;
    font-size: 25px;
    font-style: italic;
}
.quoted {
    align-self: flex-end;
}

.call-to-action-section{
    background-color: white;
    display: flex;
    justify-content: center;
}

.call-to-action-box{

    border-radius: 10px;
    width: 700px;
    color: white;
    background-color: #F2C6C2;
    ;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 30px;
    padding: 20px 80px;
}

.text-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer {
    background-color: #86A69D;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-logo{
    max-width: 20%;
}